@media (max-width: 900px) {
  body {
    height: 322px !important;
  }
  .toolbar {
    display: none !important;
  }
  #keyboardWrapper, #showKeyboardRow {
    display: none !important;
  }
  #workingContent {
    margin: 0 !important;
    padding: 0 5px !important;
  }
  #mainSection {
    height: 250px !important;
    padding-bottom: 5px !important;
  }
  ul#piano li .blackKey {
    height: 50% !important;
  }
}
